@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(44, 70%, 90%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;

  --d-dark-gray: #202225;
  --d-gray: #2f3136;
  --d-light-gray: #36393f;
  --d-tint-gray: #42464d;

  --d-red: #ed4245;
  --d-blue: #5865f2;
  --d-blue-clicked: #4752c4;
  --font: "JetBrains Mono", monospace;
}
