/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(15px);
  width: 15px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  max-height: 10px;
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 600px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
  /* box-shadow: inset 0 0 6px rgba(255, 255, 255, 1); */
  border-radius: 1px;
}
